$tab-colour: #eef;
$tab-colour-selected: #000;
$tab-background-colour-selected: #fff;
$tab-outline: #000;

$border-width: 2px;

// basic styling

[data-tab-panel][aria-hidden="true"] {
  display: none;
}

[data-tab] {
  display: inline-block;

  a {
    display: inline-block;
    text-decoration: none;
    touch-action: manipulation;
  }
}

//colors, borders etc.

.g-tab__tab-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: -$border-width;
}

.g-tab__tab {

  &:focus {
    box-shadow: 0 0 2px 2px $tab-outline;
  }
  a {
    position: relative;
    padding: 5px 10px;
    border: $border-width solid;
    border-radius: 4px 4px 0 0;
    background: $tab-colour;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -$border-width;
      width: 100%;
      height: $border-width;
      background-color: $tab-colour-selected;
    }

    &:hover,
    &:focus {
      background: $tab-colour-selected;
      border-color: $tab-colour-selected;
      color: $tab-background-colour-selected;
    }
  }

  a:active,
  &[aria-selected="true"] a {
    background: $tab-background-colour-selected;
    border-color: $tab-colour-selected;
    color: $tab-colour-selected;
    border-top-width: 4px;
    padding-top: 3px;

    &::after {
      background-color: $tab-background-colour-selected;
    }
  }
}

.g-tab__tab-panel {
  border: 2px solid;
  padding: 10px;

  &:focus {
    box-shadow: 0 0 2px 2px $tab-outline;
  }
}
